@charset "utf-8";
/* CSS Document */
*{margin: 0;
  padding: 0;
}
body{
    background: #E7E7E7;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 1.2em;
    color: black;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}
header{
    height: 200px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin: 0 auto;
    width: 200px;
}
.logo{
    width: 15%;
    margin: 10px;
}
nav{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:#FF3F00;
}
main{
    flex: 1;
    border: solid black;
}
.conteneur{
    display: flex;
    flex-direction: row;
    border: solid black;

}
.cont-col-gauche{
    width: 30%;
    box-shadow: #000 1px 1px 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.avatar{
    width: 100%;
    align-self: center;
}
.infocontact{
    border-bottom: #c8c8c8 solid thin;
    padding: 10px;
    margin: 10px;
}
.espace-icone{
    margin: 15px;
    height: 20px;
    width: 20px;
}
.fa-solid{
    color:#FF3F00;
}
.progress{
    border-radius: 15px;
    background: #FF3F00;
    text-align: center;
}
.contprogress{
    border: solid 1px #ff3f00;
    border-radius: 15px;
    background: #c8c8c8;
}
.cont-col-droite{
    width: 70%;
    box-shadow: #000 1px 1px 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.work-experience{
    
}
.education{
    
}
footer{
    height: 250px;
    background:linear-gradient(red,black 50%);
    
}
@media screen and (max-width:640px){
    body{
        font-size: 1.5em;
    }
    .conteneur{
        flex-direction: column;
    }
    .cont-col-droite{
        width: 100%;
    }
    .cont-col-gauche{
        width: 100%;
    }
    .logo{
        width: 40%;
    }
    nav{
        flex-direction: column;
        height: 150px;
        align-items: center;
    }
}